:root {

}

@media {
  :root {

  }
}

* {

}

html,
body {
  background: #F2F2F2;
}

body {
  margin: 0 !important;
}

a {

}

@media {
  html {

  }
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}