:root {

}

@media {
  :root {

  }
}

* {

}

html,
body {
  background: #F2F2F2;
}

body {
  margin: 0 !important;
}

a {

}

@media {
  html {

  }
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.svg-button {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  border: none;
  cursor: pointer;
}

.profile-button {
  width: 35px;
  height: 35px;
  background-image: url('../public/images/Profile.svg');
}

/* Switch to the colored SVG on hover */
.profile-button:hover {
  background-image: url('../public/images/Profile-Hover.svg');
}

.send-button {
  width: 40px;
  height: 39px;
  background-image: url('../public/images/send.svg');
  margin-left: 1rem;
}

/* Switch to the colored SVG on hover */
.send-button:hover {
  background-image: url('../public/images/send-hover.svg');
}